{% extends '2016/base.html'%}

{% load static from staticfiles %}
{% load i18n %}


{% block modals %}
{% include '2016/blocks/gallery_modal.html' %}
{% include '2016/blocks/contact_modals.html' %}
{% endblock %}

{% block right_content %}
<div class="container-fluid no-padding">

<!-- MODAL EVENTO CANCELADO-->
{% include '2016/blocks/cancellation.html' %}

<!-- SECCION CHARLAS -->
{% include '2016/blocks/main.html' %}

<!-- SECCION CHARLAS -->
{% include '2016/blocks/talks.html' %}

<!-- LISTA DE EXPOSITORES -->
{% if speaker_list %}
  {% include '2016/blocks/speakers.html' with speaker_list=speaker_list %}
{% endif %}

<!-- SECCION QUIERO EXPONER -->
{% include '2016/blocks/speaker_apply.html' %}

<!-- PROGRAMA -->
{% include '2016/blocks/workshops.html' %}

<!-- PRECIOS -->
{% include '2016/blocks/purchase.html' %}

<!-- PROGRAMA -->
{% include '2016/blocks/schedule.html' %}

<!-- PRECIOS -->
{% include '2016/blocks/photos_2015.html' %}


<!-- PATROCINADORES -->
{% include '2016/blocks/sponsors.html' with sponsors=sponsors %}

<!-- INVITACIÓN SPONSORS -->
{% include '2016/blocks/sponsor_apply.html' %}

<!-- UBICACION -->
{% include '2016/blocks/location.html' %}

<!-- DATOS CONTACTO -->
{% include '2016/blocks/contact_data.html' %}

<footer>
    <div class="row copyright text-center">
        <div class="col-md-12">
            <p class="simple">VMC 2016| UTFSM </p>
        </div>
    </div>
</footer>
</div>
{% endblock %}
