{% extends "register_base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block maincontainer %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Apoya a <span class="highlight">Valparaíso Mobile Conf</span>!</h2>
      <br/>
      <br/>
    </div>
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <form class="form form-register" method="post" action="">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_name" class="col-sm-3 col-xs-12 control-label">Empresa</label>
          <div class="col-sm-9 col-xs-12">
		    <input type="text" class="form-control required" name="name" id="id_name" placeholder="Nombre de empresa" value="{{form.name.value|default:''}}">
		    {{form.name.help_text}}
		    {{form.name.errors}}
		  </div>
        </div>

        <div class="form-group">
          <label for="id_description" class="col-sm-3 col-xs-12 control-label">Descripción de la empresa</label>
          <div class="col-sm-9 col-xs-12">
            <textarea class="form-control required" name="description" id="id_description" placeholder="Descripción" >{{form.descriptiob.value|default:''}}</textarea>
            {{form.description.help_text}}
            {{form.description.errors}}
          </div>
        </div>

        <div class="form-group">
          <label for="id_contact_name" class="col-sm-3 col-xs-12 control-label">Persona de contacto</label>
          <div class="col-sm-9 col-xs-12">
		    <input type="text" class="form-control required" name="contact_name" id="id_contact_name" placeholder="Nombre" value="{{form.contact_name.value|default:''}}">
		    {{form.contact_name.help_text}}
		    {{form.contact_name.errors}}
		  </div>
        </div>

        <div class="form-group">
          <label for="id_email" class="col-sm-3 col-xs-12 control-label">Email de contacto</label>
          <div class="col-sm-9 col-xs-12">
            <input type="email" class="form-control required email" name="email" id="id_email" placeholder="Email" value="{{form.email.value|default:''}}">
            {{form.email.help_text}}
            {{form.email.errors}}
          </div>
        </div>

        <div class="form-group">
          <label for="id_phone" class="col-sm-3 col-xs-12 control-label">Fono de contacto</label>
          <div class="col-sm-9 col-xs-12">
            <input type="text" class="form-control required" name="phone" id="id_phone" placeholder="Teléfono" value="{{form.phone.value|default:''}}">
            {{form.phone.help_text}}
            {{form.phone.errors}}
          </div>
        </div>

        <div class="form-group">
          <label for="id_url" class="col-sm-3 col-xs-12 control-label">Web</label>
          <div class="col-sm-9 col-xs-12">
            <input type="text" class="form-control required" name="url" id="id_url" placeholder="www.example.com" value="{{form.url.value|default:''}}">
            {{form.url.help_text}}
            {{form.url.errors}}
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm btn-block">Enviar</button>
      </form>
    </div>
  </div>
</div>
{% endblock maincontainer %}