{% load static from staticfiles %}
{% load i18n %}

<!-- CANCELLATION MODAL -->
<div id="cancellationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title"><i class="fa fa-warning"></i>  Aviso urgente</h4>
    </div>
    <div class="modal-body">
      <p class="simple"><b>Queridos amigos:</b> </p>
      <p class="simple">Lamentablemente tenemos que informar, que la segunda versión de Valparaíso Mobile Conf 
        no podrá ser realizada por problemas de fuerza mayor.
        Pedimos disculpas a todos aquellos que estuvieron interesados en participar del evento.
        <br/>
        Un abrazo,
        </p>
        <p class="simple">
        <b>Organización VMC</b>
      </p>
    </div>
  </div>

  </div>
</div>
<!-- END CANCELLATION MODAL -->

