<section>
    <div class="row location" id="location">
        <div class="col-md-7 middle no-padding text-center">
            <!-- MAPA DEL EVENTO -->
            <div id="map-canvas" style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">

            </div>
        </div>
        <div class="col-md-5 no-padding">
            <div class="sidebar_content">
                <h1 class="double"><span>UBICACIÓN</span> Y CONTACTO</h1>
                <p class="simple">
                  El evento se realiza por segundo año consecutivo en la
                  Casa Central de la Universidad Técnica Federico Santa María,
                  el "Castillo frente al mar" de Valparaíso.
                </p>
                <hr class="divder">
            </div>
            <div class="sidebar_content text-center">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-map-marker"></i>
                        <p class="simple">Av. España 1680, Valparaíso</p>
                    </div>

                    <div class="col-sm-6">
                        <i class="fa fa-envelope"></i>
                        <p class="simple">valpo.mobile.conf@gmail.com</p>
                    </div>

                    <div class="col-sm-6">
                      <a href="https://www.facebook.com/ValpoMobileConf" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                        <p class="simple">
                          <a href="https://www.facebook.com/ValpoMobileConf" target="_blank">ValpoMobileConf</a>
                        </p>
                      <hr class="divder-sm">
                    </div>

                    <div class="col-sm-6">
                      <a href="https://twitter.com/ValpoMobileConf" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                        <p class="simple">
                            <a href="https://twitter.com/ValpoMobileConf" target="_blank">@ValpoMobileConf</a>
                            </p>
                      <hr class="divder-sm">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>