{% load static from staticfiles %}
{% load i18n %}

<section>
  <div class="row" id="home">
    <div class="col-md-12 slider text-center" style="background-image: url({% static bg %});">
      <div class="overlay_home">
        <h1 class="site_title">
          <img src="{% static '2016/img/logo_white.png' %}" alt="Logo VMC" id="main_logo">
        </h1>
        <ul class="shortcuts">
<!--
          <li>
            <a href="#location" class="btn-loc" >Find Us</a>
          </li>
-->
          <li>
            <a href="#pricing_table" class="btn-reg" >Registro</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
