{% load static from staticfiles %}
{% load i18n %}

<section>
    <div class="row gallery" id="gallery">
        <div class="col-md-12 no-padding">
          <div class="sidebar_content">
            <h1 class="double"><span>FOTOS</span> VERSIÓN 2015</h1>
            <div id="links" class="navigation" style="float: left; transition-property: all; transition-duration: 0s; transition-timing-function: ease; opacity: 1;">
              <div class="top pagination"></div>
                <ul class="thumbs">

                  <li >
                    <a class="thumb" href="{% static '2016/img/gallery/gallery_01_big.jpg' %}" title="Charlas" data-gallery>
                      <img src="{% static '2016/img/gallery/gallery_01_small.jpg' %}" alt="Charlas">
                    </a>
                  </li>

                  <li >
                    <a class="thumb" href="{% static '2016/img/gallery/gallery_02_big.jpg' %}" title="Charlas" data-gallery>
                      <img src="{% static '2016/img/gallery/gallery_02_small.jpg' %}" alt="Charlas">
                    </a>
                  </li>

                  <li>
                    <a class="thumb" href="{% static '2016/img/gallery/gallery_03_big.jpg' %}" title="Coffee Break" data-gallery>
                      <img src="{% static '2016/img/gallery/gallery_03_small.jpg' %}" alt="Coffee Break">
                    </a>
                  </li>

                  <li>
                    <a class="thumb" href="{% static '2016/img/gallery/gallery_04_big.jpg' %}" title="Talleres" data-gallery>
                      <img src="{% static '2016/img/gallery/gallery_04_small.jpg' %}" alt="Talleres">
                    </a>
                  </li>
                  <li style="">
                    <a class="thumb" href="{% static '2016/img/gallery/gallery_05_big.jpg' %}" title="Charlas" data-gallery>
                      <img src="{% static '2016/img/gallery/gallery_05_small.jpg' %}" alt="Charlas">
                    </a>
                  </li>
                  <li>
                    <a class="thumb" href="{% static '2016/img/gallery/gallery_06_big.jpg' %}" title="Charlas" data-gallery>
                      <img src="{% static '2016/img/gallery/gallery_06_small.jpg' %}" alt="Charlas">
                    </a>
                  </li>

                  <li>
                    <a class="thumb" href="{% static '2016/img/gallery/gallery_07_big.jpg' %}" title="Exposición Hackathon" data-gallery>
                      <img src="{% static '2016/img/gallery/gallery_07_small.jpg' %}" alt="Exposición Hackathon">
                    </a>
                  </li>

                  <li>
                    <a class="thumb" href="{% static '2016/img/gallery/gallery_08_big.jpg' %}" title="Premios Hackathon" data-gallery>
                      <img src="{% static '2016/img/gallery/gallery_08_small.jpg' %}" alt="Premios hackathon">
                    </a>
                  </li>

                  <li>
                    <a class="thumb" href="{% static '2016/img/gallery/gallery_09_big.jpg' %}" title="Evaluación Hackathon" data-gallery>
                      <img src="{% static '2016/img/gallery/gallery_09_small.jpg' %}" alt="Evaluación Hackathon">
                    </a>
                  </li>

                  <li>
                    <a class="thumb" href="{% static '2016/img/gallery/gallery_10_big.jpg' %}" title="Premiación Hackathon" data-gallery>
                      <img src="{% static '2016/img/gallery/gallery_10_small.jpg' %}" alt="Premiación Hackathon">
                    </a>
                  </li>

                  <li>
                    <a class="thumb" href="{% static '2016/img/gallery/gallery_11_big.jpg' %}" title="Premiación Hackathon" data-gallery>
                      <img src="{% static '2016/img/gallery/gallery_11_small.jpg' %}" alt="Premiación Hackathon">
                    </a>
                  </li>

                  <li>
                    <a class="thumb" href="{% static '2016/img/gallery/gallery_12_big.jpg' %}" title="Hackathon" data-gallery>
                      <img src="{% static '2016/img/gallery/gallery_12_small.jpg' %}" alt="Hackathon">
                    </a>
                  </li>
                 </ul>
                <div class="bottom pagination"></div>
              </div>
            </div>
        </div>
    </div>
</section>
