<section>
    <div class="row pricing_table parallax" id="pricing_table">
        <div class="col-md-12 overlay">
            <div class="container-fluid">
                <div class="row text-center sap_title">
                    <h2 class="double">¡Consigue tu entrada!</h2>
                </div>
                <div class="row pricing text-center">

                    <div class="pricing-table group">

                        <div class="col-md-4 block professional fl">
                            <h2 class="title">Hackathon</h2>

                            <div class="content" style="display: block;">
                                <p class="price">
                                    <sup>$</sup>
                                    <span>5.000</span>
                                </p>
                                <p class="hint">Para fervientes desarrolladores</p>
                            </div>

                            <ul class="features">
                                <li>Participación de la hackathon</li>
                                <li>Comida gratis</li>
                                <li>Merchandising del evento</li>
                            </ul>
                        </div>

                        <div class="col-md-4 block personal fl">
                            <h2 class="title">Charlas</h2>

                            <div class="content" style="display: block;">
                                <p class="price">
                                  <sup>$</sup>
                                  <span>5.000</span>
                                </p>
                                <p class="hint">Para todo público</p>
                            </div>


                            <ul class="features">
                                <li>Acceso a todas las charlas</li>
                                <li>Acceso a Talleres</li>
                                <li>Coffee breaks</li>
                                <li>Merchandising del evento</li>
                            </ul>
                        </div>


                        <div class="col-md-4 block business fl">
                            <h2 class="title">Full pack</h2>

                            <div class="content" style="display: block;">
                                <p class="price">
                                    <sup>$</sup>
                                    <span>8.000</span>
                                </p>
                                <p class="hint">Para hardcore developers</p>
                            </div>


                            <ul class="features">
                                <li>Acceso a todas las charlas</li>
                                <li>Acceso a talleres</li>
                                <li>Participar de la hackathon</li>
                                <li>Coffee breaks</li>
                                <li>Comida durante la hackathon</li>
                                <li>Merchandising del evento</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                    <div id="welcu_embed_sale_1151611744" class="welcu_embed">
                    <center><img src="https://assets.welcu.com/images/loading.gif" width="50" height="50"></center>
                    </div>
                    <script type="text/javascript" charset="utf-8">
                    (function() {
                    var embed = document.createElement('script'); embed.type = 'text/javascript'; embed.async = true;
                    embed.src = "https://welcu.com/vmc2016/vmc2016/sales/2b8b14b3.embed?locale=es";
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(embed, s);
                    })();
                    </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>