{% load static from staticfiles %}
{% load i18n %}

<section>
    <div id="spek_action" class="row spek_action parallax text-center">
        <div class="overlay">
            <div class="col-md-12">
                <h3 class="double">¿Quieres exponer?</h3>
<!--
                <a class="btn-sq btn-spek" href="#speakers" >¡Contáctanos!</a>
-->
                <button type="button" class="btn btn-sq btn-spek" data-toggle="modal" data-target="#speakersModal">¡Contáctanos!</button>

            </div>
        </div>
    </div>
</section>
<!-- FIN SECCION QUIERO EXPONER -->