<!-- INVITACIÓN A AUSPICIAR -->
<section>
    <div id="be_partners" class="row be_partners parallax text-center">
        <div class="overlay">
            <div class="col-md-12">
                <h3 class="double">¿Quieres auspiciar a VMC 2016?</h3>

<!--

                <a href="#" class="btn-sq" data-toggle="modal" data-
target="#sponsorsModal">¡Contacta a los organizadores aquí!</a>


-->
                <button type="button" class="btn btn-sq btn-spek" data-toggle="modal" data-target="#sponsorsModal">¡Contacta a los organizadores aquí!</button>
            </div>
        </div>
    </div>
</section>
<!-- FIN INVITACIÓN A AUSPICIAR -->