{% load static from staticfiles %}
{% load i18n %}

<section>
    <div class="row" id="hackathon">
        <div class="col-md-6 middle no-padding cont_rl text-center">
            <img src="{% static '2016/img/workshop.jpg' %}" class="img100" alt="img">
        </div>
        <div class="col-md-6 no-padding">
            <div class="registration text-center sidebar_content">
                <h2 class="double">Talleres</h2>
                <p class="simple registration">
                Queremos difundir la tecnología y sus novedades,
                pero, por sobre todo, queremos que entregar el conocimiento
                y las herramientas para que cualquier persona apasionada
                pueda crear las mejores aplicaciones y diseñar la forma en
                que usemos nuestros dispositivos en el futuro.
                ¿Y qué mejor que aprender y practicar? Los talleres son la
                mejor oportunidadad para esto.</p>
            </div>
            <div class="sidebar_content text-center">
                <h2 class="double">HACKATHON</h2>
                <p class="simple">
                Porque también somos desarrolladores y nos gustan los desafíos.
                Y mejor aún si el desafío va con geniales premios. Participa con
                tu equipo de la segunda versión de la Hackathon de Valparaíso
                Mobile Conf y aplica todas tus habilidades de programación y
                diseño en 20 horas de programación extrema.
                </p>
            </div>
            <div class="sidebar_content text-center">
                <div class="row">
                  <div class="col-sm-6">
                    <a target="_blank" href="{% static '2016/docs/VMC_2016_BasesHackathon.pdf' %}">
                      <i class="fa fa-file-text-o"></i>
                      <p class="simple">BASES 2016</p>
                    </a>
                  </div>

                  <div class="col-sm-6">
                    <i class="fa fa-gift"></i>
                    <p class="simple">Moto G 2015 para cada integrante</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>