{% load static from staticfiles %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>Valparaíso Mobile Conf</title>
  <meta name="description" content="Conferencia sobre tecnologías móviles">
  <meta name="keywords" content="Android, iOS, Windows Phone, Valparaíso, Conferencia, Hackathon, Charlas, Talleres, Cursos, Móvil">
  <meta name="author" content="Gabriel Ruiz">
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'css/font-lineicons.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" id="mainstyle" type="text/css" media="all" />
</head>

<body id="index">
  <!-- Preloader -->
  <div id="mask">
    <div id="loader"><img src="{% static 'img/preloader.gif' %}" alt="preloader" /></div>
  </div>

  <header id="mobileheader" class="navigation-bar-header light visible-xs"></header>

  <!-- Hero Section -->
  <section id="hero" class="light color" style="background-image: url({% static bg %});">
    <div class="overlay color"></div>
      <div class="container">
        {% if success_message %}
          <div class="alert alert-success top-alert alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{success_message}}</div>
        {% endif %}
        <div class="home-bg">
        <div class="hero-content text-center ">
          <div class="hero-small">
            <hr />
            <span>
              <span class="fa fa-calendar"></span>
              <a class="indicator" href="#schedule">9-10 Octubre, 9:00 </a>
              <div class="sep"></div>
              <a href="https://twitter.com/ValpoMobileConf" target="_blank"><span class="fa fa-twitter"></span></a>
              <div class="sep"></div>
              <a href="https://facebook.com/ValpoMobileConf" target="_blank"><span class="fa fa-facebook"></span></a>
              <div class="sep"></div>
              <span class="fa fa-map-marker"></span>
              <a class="indicator" href="#map">UTFSM, Valparaíso, Chile</a>
            </span>
            <hr />
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="hero-big"><img class="logo" src="{% static 'img/logo.png' %}" alt="Logo Valparaíso Mobile Conf"/></div>
            </div>
            <div class="col-sm-6">
              <div class="hero-big">Conferencia sobre <span class="highlight"><strong>tecnologías móviles</strong></span></div>
            </div>
          </div>
          <a href="{% url 'register' %}" class="btn btn-lg">
            <span>Obtén tu entrada</span></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <!-- Header -->
  <header id="header" class="navigation-bar-header light hidden-xs">
    <div class="container">
      <nav class="navigation">
        <div class="navigation-txt visible-xs" data-toggle="dropdown">Home</div>
        <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="navigation-bar navigation-bar-left">
          <li><a href="#about">Evento</a></li>
          <!--<li><a href="#stat">Number Facts</a></li>-->
          {% if schedule %}
          <li><a href="#schedule">Programa</a></li>
          {% endif %}
          {% if speakers %}
          <li><a href="#speakers">Expositores</a></li>
          {% else %}
          <li><a href="#cfp">Call for Papers</a></li>
          {% endif %}
          <li><a href="#hackathon">Hackathon</a></li>
          <li><a href="#sponsors">Auspiciadores</a></li>
          <li><a href="#map">Contacto</a></li>
          <li class="featured"><a href="{% url 'register' %}"><i class="fa fa-ticket fa-1x"></i>Comprar ticket</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Header -->

  <!-- About Section -->
  <section id="about" class="section dark">
    <div class="container">
      <div class="icon-wrap"><span class="icon icon-active icon-multimedia-12"></span></div>
      <h3>Móvil a la vena</h3>
      <div class="sub-title">Charlas, talleres y una hackathon <span class="highlight">en un solo evento</span>. Aprende sobre las tecnologías actuales junto a personas que comparten tu misma pasión.</div>
      <br />
      <br />
      <section class="nav-tabs-simple">
      <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a href="#charlas" data-toggle="tab"><i class="icon icon-chat-messages-01"></i> Área</a></li>
          <li><a href="#talleres" data-toggle="tab"><i class="icon icon-education-science-11"></i> Talleres</a></li>
          <li><a href="#deschack" data-toggle="tab"><i class="icon icon-documents-bookmarks-12"></i> Hackathon</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <!-- CHARLAS -->
          <div class="tab-pane fade in active" id="charlas">
            <article class="row">
              <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
                    <img class="img-responsive" src="{% static 'img/speaker.jpg' %}" alt="Charlas" />
              </div>
              <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                <h6>¿Qué haremos?</h6>
  	       <p>
  	         Valparaíso Mobile Conf es desarrollo, es sociedad, es emprendimiento. Podrás aprender sobre las últimas tecnologías móviles, la integración entre plataformas, programación, diseño  y mucho más. Tendremos cuatro categorías de charlas: técnicas para principiante, nivel medio y avanzado, además de charlas de carácter general.
	       </p>
                <ul class="sub-list">
	         <li><i class="icon icon-documents-bookmarks-16"></i> Diseño para móviles</li>
                  <li><i class="icon icon-documents-bookmarks-11"></i> Tips de programación</li>
                  <li><i class="icon icon-documents-bookmarks-10"></i> Educación, sociedad y más.</li>
                </ul>
              </div>
            </article>
          </div>
          <!-- END CHARLAS -->

          <!-- TALLERES -->
          <div class="tab-pane fade" id="talleres">
            <article class="row">
              <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInLeft" data-delay="500">
                <h6>¿Qué aprenderás?</h6>
                <p>
                  Tendremos dos talleres (posiblemente un tercero, queda por confirmar) para que aprendas bases y algunos trucos de programación y diseño para Android. Deberás llevar tu notebook con Android Studio instalado, y ojalá tu smartphone para probar tu aplicación de inmediato!
                </p>
                <ul class="sub-list">
                  <li><i class="icon icon-documents-bookmarks-16"></i> Introducción a desarrollo para Android. <strong>Nivel principiante</strong></li>
                  <li><i class="icon icon-documents-bookmarks-11"></i> Diseño para Android Wear. <strong>Nivel: Medio</strong></li>
                </ul>
              </div>
              <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInRight" data-delay="500">
                <img class="img-responsive" src="{% static 'img/about-placeholder-mbp.jpg' %}" alt="Imagen Talleres" />
              </div>
            </article>
          </div>
          <!-- END TALLERES -->

          <!-- HACKATHON -->
          <div class="tab-pane fade" id="deschack">
            <article class="row">
              <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
                <img class="img-responsive" src="{% static 'img/hackathon01.jpg' %}" alt="Hackathon" />
              </div>
              <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                <h6>Demuestra tus habilidades creativas</h6>
                <p>Si te gusta el desarrollo de aplicaciones, estás invitado a participar de esta hackathon de forma <span class="highlight">gratuita</span>. No te pediremos modelo de negocios ni grandes proyecciones: queremos que programen una aplicación buena en poco tiempo. Las reglas son simples:
                </p>
                <ul class="sub-list">
                  <li><i class="icon icon-documents-bookmarks-16"></i> Debes conformar equipos de 3 a 4 personas (se recomienda tener al menos un programador y un diseñador) e inscribirte en el <a href="#">formulario de registro de equipos</a> que pronto pondremos a disposición.</li>
                  <li><i class="icon icon-documents-bookmarks-16"></i> Pondremos una temática como desafío, y los equipos de desarrollo deberán crear una aplicación que ayude a resolver un problema de esa área.</li>
                  <li><i class="icon icon-documents-bookmarks-16"></i> Tendrán 20 horas para crear una aplicación. Aunque no la terminen, deben ser capaces de demostrar su funcionalidad principal.</li>
                  <li><i class="icon icon-documents-bookmarks-16"></i> Deberán presentar su aplicación funcionando, más screenshots de otras vistas que hayan planeado crear.</li>
                  <li><i class="icon icon-documents-bookmarks-16"></i> Preocupate sólo por programar (o diseñar): nosotros ponemos las pizzas y las bebidas.</li>
                </ul>
              </div>
            </article>
          </div>
          <!-- END HACKATHON -->

        </div>
      </section>
    </div>
  </section>
  <!-- End About Section -->


  <!-- ESTADISTICAS-->
  <section id="stat" class="section light">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
            <div class="stat"><span class="value" data-from="0" data-to="36">36</span>+</div>
            <div class="stat-info">horas</div>
            <hr />
            <p class="small">De tecnología móvil.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
            <div class="stat"><span class="value" data-from="0" data-to="10">10</span></div>
            <div class="stat-info">expositores</div>
            <hr />
            <p class="small">Expertos en programación y diseño.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
            <div class="stat"><span class="value" data-from="0" data-to="20">20</span></div>
            <div class="stat-info">horas de programación</div>
            <hr />
            <p class="small">Porque una mente creativa no duerme.</p>
          </div>
        </div>
        <!-- ESPACIO PARA LA EXPO
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
            <div class="stat"><span class="value" data-from="0" data-to="3">3</span></div>
            <div class="stat-info">halls</div>
            <hr />
            <p class="small">It is a long established fact that a reader will be.</p>
          </div>
        </div>
        -->
      </div>
    </div>
  </section>
  <!-- FIN ESTADISTICAS -->

  {% if schedule %}
  <!-- Sección Programa -->
  <section id="schedule" class="section dark">
    <div class="container">
      <div class="icon-wrap"><span class="icon icon-active icon-text-hierarchy-07"></span></div>
      <h3>Programa</h3>
      <div class="sub-title">Averigua como estará distribuida el Mobile Conf</div>
      <br />
      <br />
      <section class="nav-tabs-default hidden-xs">
      <!-- Parent Nav Tabs -->
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#DayOne" data-toggle="tab">
              <div class="title">Día 1</div>
              <div class="subtitle">09/10/2015</div>
            </a>
          </li>
          <li>
            <a href="#DayTwo" data-toggle="tab">
              <div class="title">Día 2</div>
              <div class="subtitle">10/10/2015</div>
            </a>
          </li>
          <li>
            <a href="#HackNight" data-toggle="tab">
              <div class="title">Hackathon</div>
              <div class="subtitle">09-10/10/2015</div>
            </a>
          </li>
        </ul>

        <!-- Parent Tab panes -->
        <div class="tab-content">

          <!-- DIA 1 -->
          <div class="tab-pane fade in active" id="DayOne">

            <!-- DIA 1 Tabs -->
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#DayOne-1" data-toggle="tab">Charlas - Salón de Honor</a>
              </li>
              <li>
                <a href="#DayOne-2" data-toggle="tab">Talleres - F-106</a>
              </li>
            </ul>

            <!-- DIA 1 Tab panes -->
            <div class="tab-content">

              <!-- DIA 1 - TRACK 1-->
              <div class="tab-pane fade in active" id="DayOne-1">
                {% if not paper_list_first %}
                  <article>
                   <p>Aún no hay charlas programadas.</p>
                  </article>
                {% else %}
                  <div class="panel-group timeline-schedule" id="panelTimelineOne">
                    <!-- CHARLAS DIA 1-->
                    {% for paper in paper_list_first %}
                    <div class="panel panel-default">
                      <div class="speaker-wrapper">
                        <img src="/media/{{paper.author.1.photo_thumb}}" class="img-responsive img-circle" alt="{{paper.author.1.get_full_name}}" />
                      </div>
                      <div class="panel-heading">
                        <div class="panel-title">
                          <div class="time">
                            <i class="fa fa-clock-o"></i>
                            {{paper.start_time|date:"H:i"}}
                          </div>
                          <a data-toggle="collapse" data-parent="#panelTimelineOne" href="#item{{paper.id}}" class="collapsed">
                            {{paper.title}}
                            <div class="pull-right fa fa-angle-up"></div>
                            <div class="pull-right fa fa-angle-down"></div>
                          </a>
                        </div>
                      </div>

                      <div id="item{{paper.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                          <article>
                            <p>{{ paper.abstract }}</p>
                            <p class="author"><a href="{{paper.author.1.twitter}}" target="_blank"><strong><i class="fa fa-user"></i> {{paper.author.1.get_full_name}}</strong></a></p>
                          </article>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!-- END CHARLAS DIA 1-->
                  </div>
                {% endif %}
              </div>
              <!-- END DIA 1 - TRACK 1-->

              <!-- DIA 1 - TRACK 2 -->
              <div class="tab-pane fade" id="DayOne-2">
                {% if not workshop_list_first %}
                  <article>
                    <p>Los talleres aún no están confirmados.</p>
                  </article>
                {% else %}
                  <div class="panel-group timeline-schedule" id="panelTimelineThree">

                    <!-- CHARLAS DIA 1-->
                    {% for workshop in workshop_list_first %}
                    <div class="panel panel-default">
                      <div class="speaker-wrapper">
                        <img src="/media/{{workshop.expositor.photo_thumb}}" class="img-responsive img-circle" alt="{{workshop.expositor.get_full_name}}" />
                      </div>
                      <div class="panel-heading">
                        <div class="panel-title">
                          <div class="time"><i class="fa fa-clock-o"></i>
                            {{workshop.start_time|date:"H:i"}}
                          </div>
                          <a data-toggle="collapse" data-parent="#panelTimelineThree" href="#item{{workshop.id}}" class="collapsed">
                            {{workshop.name}}
                            <div class="pull-right fa fa-angle-up"></div>
                            <div class="pull-right fa fa-angle-down"></div>
                          </a>
                        </div>
                      </div>

                      <div id="item{{workshop.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                          <article>
                            <p>{{ workshop.abstract }}</p>
                            <p class="author"><a href="{{workshop.expositor.twitter}}" target="_blank"><strong><i class="fa fa-user"></i> {{workshop.expositor.get_full_name}}</strong></a></p>
                          </article>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!-- END CHARLAS DIA 1-->
                  </div>
                {% endif %}
              </div>
              <!-- END DIA 1 - TRACK 2 -->

            </div>
            <div class="clearfix"></div>
          </div>
          <!-- END DIA 1 -->


          <!-- DIA 2 -->
          <div class="tab-pane fade" id="DayTwo">
            <!-- DIA 2 Nav Tabs -->
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#DayTwo-1" data-toggle="tab">Charlas - Salón de Honor</a>
              </li>
              <li>
                <a href="#DayTwo-2" data-toggle="tab">Talleres - F-106</a>
              </li>
            </ul>

            <!-- DIA 2 Tab panes -->
            <div class="tab-content">
              <!-- DIA 2 - TRACK 1 -->
              <div class="tab-pane fade in active" id="DayTwo-1">
                {% if not paper_list_second %}
                  <article>
                    <p>Aún no hay charlas programadas.</p>
                  </article>
                {% else %}
                  <div class="panel-group timeline-schedule" id="panelTimelineTwo">

                    <!-- CHARLAS DIA 2-->
                    {% for paper in paper_list_second %}
                    <div class="panel panel-default">
                      <div class="speaker-wrapper">
                        <img src="/media/{{paper.author.1.photo_thumb}}" class="img-responsive img-circle" alt="{{paper.author.1.get_full_name}}" />
                      </div>
                      <div class="panel-heading">
                        <div class="panel-title">
                          <div class="time"><i class="fa fa-clock-o"></i>
                            {{paper.start_time|date:"H:i"}}
                          </div>
                          <a data-toggle="collapse" data-parent="#panelTimelineTwo" href="#item{{paper.id}}" class="collapsed">
                            {{paper.title}}
                            <div class="pull-right fa fa-angle-up"></div>
                            <div class="pull-right fa fa-angle-down"></div>
                          </a>
                        </div>
                      </div>

                      <div id="item{{paper.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                          <article>
                            <p>{{ paper.abstract }}</p>
                            <p class="author"><a href="{{paper.author.1.twitter}}" target="_blank"><strong><i class="fa fa-user"></i> {{paper.author.1.get_full_name}}</strong></a></p>
                          </article>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!-- END CHARLAS DIA 2-->
                  </div>
                {% endif %}
              </div>
              <!-- END DIA 2 - TRACK 1 -->


              <!-- DIA 2 - TRACK 2 -->
              <div class="tab-pane fade" id="DayTwo-2">
                {% if not workshop_list_second %}
                  <article>
                   <p>Los talleres aún no están confirmados.</p>
                  </article>
                {% else %}
                  <div class="panel-group timeline-schedule" id="panelTimelineFour">

                    <!-- TALLERES DIA 2-->
                    {% for workshop in workshop_list_second %}
                    <div class="panel panel-default">
                      <div class="speaker-wrapper">
                        <img src="/media/{{workshop.expositor.photo_thumb}}" class="img-responsive img-circle" alt="{{workshop.expositor.get_full_name}}" />
                      </div>
                      <div class="panel-heading">
                        <div class="panel-title">
                          <div class="time"><i class="fa fa-clock-o"></i>
                            {{workshop.start_time|date:"H:i"}}
                          </div>
                          <a data-toggle="collapse" data-parent="#panelTimelineFour" href="#item{{workshop.id}}" class="collapsed">
                            {{workshop.name}}
                            <div class="pull-right fa fa-angle-up"></div>
                            <div class="pull-right fa fa-angle-down"></div>
                          </a>
                        </div>
                      </div>

                      <div id="item{{workshop.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                          <article>
                            <p>{{ workshop.abstract }}</p>
                            <p class="author"><a href="{{workshop.expositor.twitter}}" target="_blank"><strong><i class="fa fa-user"></i> {{workshop.expositor.get_full_name}}</strong></a></p>
                          </article>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!-- END TALLERES DIA 2-->
                  </div>
                {% endif %}
              </div>
              <!-- DIA 2 - TRACK 2 -->

            </div>
            <div class="clearfix"></div>
          </div>
          <!-- END DIA 2 -->


          <!-- HACK NIGHT -->
          <div class="tab-pane fade" id="HackNight">
          <!-- HACK NIGHT Tab panes -->
            <div class="tab-content">
              <!-- HACK NIGHT - ONLY TRACK -->
              <div class="tab-pane fade active in" id="HackNight-1">
                <div class="panel-group timeline-schedule" id="panelTimelineFive">

                  <!-- Intro HACK NIGHT-->
                  <div class="panel panel-default">
                    <div class="speaker-wrapper">
                      <img src="{% static 'img/logo_vmc.png' %}" class="img-responsive img-circle" alt="Logo Organizador" />
                    </div>
                    <div class="panel-heading">
                      <div class="panel-title">
                        <div class="time"><i class="fa fa-clock-o"></i>
                          09/10 - 20:00
                        </div>
                        <a data-toggle="collapse" data-parent="#panelTimelineFive" href="#itemone" class="collapsed">
                          Presentación de problemas y mentores
                          <div class="pull-right fa fa-angle-up"></div>
                          <div class="pull-right fa fa-angle-down"></div>
                        </a>
                      </div>
                    </div>

                    <div id="itemone" class="panel-collapse collapse">
                      <div class="panel-body">
                        <article>
                          <p>Los organizadores de Valparaíso MobileConf darán una explicación de los
                          problemas que los equipos pueden optar a resolver. También se presentará a
                          distintos desarrolladores que apoyarán su tarea durante el transcurso de la
                          Hackathon.
                          <strong>¡Habrá comida, lleguen temprano!</strong>
                          </p>
                          <p class="author"><a href="http://twitter.com/ValpoMobileConf" target="_blank"><strong><i class="fa fa-user"></i> Organización VMC</strong></a></p>
                        </article>
                      </div>
                    </div>
                  </div>
                  <!-- END Intro HACK NIGHT-->


                  <!-- Hack time HACK NIGHT-->
                  <div class="panel panel-default">
                    <div class="speaker-wrapper">
                      <img src="{% static 'img/logo_vmc.png' %}" class="img-responsive img-circle" alt="Logo Organizador" />
                    </div>
                    <div class="panel-heading">
                      <div class="panel-title">
                        <div class="time"><i class="fa fa-clock-o"></i>
                          09/10 - 20:30
                        </div>
                        <a data-toggle="collapse" data-parent="#panelTimelineFive" href="#itemtwo" class="collapsed">
                          Code, code, code!
                          <div class="pull-right fa fa-angle-up"></div>
                          <div class="pull-right fa fa-angle-down"></div>
                        </a>
                      </div>
                    </div>

                    <div id="itemtwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <article>
                          <p><strong>¡A programar!</strong>
                          Es momento de mover sus dedos y sacar una aplicación en menos de 20 horas.
                          </p>
                          <p class="author"><a href="http://twitter.com/ValpoMobileConf" target="_blank"><strong><i class="fa fa-user"></i> Organización VMC</strong></a></p>
                        </article>
                      </div>
                    </div>
                  </div>
                  <!-- END Hack time HACK NIGHT-->


                  <!-- Descanso HACK NIGHT-->
                  <div class="panel panel-default">
                    <div class="speaker-wrapper">
                      <img src="{% static 'img/logo_vmc.png' %}" class="img-responsive img-circle" alt="Logo Organizador" />
                    </div>
                    <div class="panel-heading">
                      <div class="panel-title">
                        <div class="time"><i class="fa fa-clock-o"></i>
                          10/10 - 16:30
                        </div>
                        <a data-toggle="collapse" data-parent="#panelTimelineFive" href="#itemthree" class="collapsed">
                          ¡Suelten teclados!
                          <div class="pull-right fa fa-angle-up"></div>
                          <div class="pull-right fa fa-angle-down"></div>
                        </a>
                      </div>
                    </div>

                    <div id="itemthree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <article>
                          <p> Deben dejar de programar y prepararse psicológicamente para la
                          presentación. Como suponemos que a esa hora ya no querrán ver ni pizza
                          ni bebidas energéticas, les tendremos una colación un poco más saludable,
                          antes de pasar al escenario.
                          </p>
                          <p class="author"><a href="http://twitter.com/ValpoMobileConf" target="_blank"><strong><i class="fa fa-user"></i> Organización VMC</strong></a></p>
                        </article>
                      </div>
                    </div>
                  </div>
                  <!-- END Descanso HACK NIGHT-->


                  <!-- Presentaciones HACK NIGHT-->
                  <div class="panel panel-default">
                    <div class="speaker-wrapper">
                      <img src="{% static 'img/logo_vmc.png' %}" class="img-responsive img-circle" alt="Logo Organizador" />
                    </div>
                    <div class="panel-heading">
                      <div class="panel-title">
                        <div class="time"><i class="fa fa-clock-o"></i>
                          10/10 - 17:00
                        </div>
                        <a data-toggle="collapse" data-parent="#panelTimelineFive" href="#itemfour" class="collapsed">
                          Presentaciones
                          <div class="pull-right fa fa-angle-up"></div>
                          <div class="pull-right fa fa-angle-down"></div>
                        </a>
                      </div>
                    </div>

                    <div id="itemfour" class="panel-collapse collapse">
                      <div class="panel-body">
                        <article>
                          <p> Cada equipo tendrá 5 minutos para presentar su aplicación en el
                          escenario. Contaremos con proyectores especiales para que puedan
                          mostrar su aplicación en vivo ante el público.
                          </p>
                          <p class="author"><a href="http://twitter.com/ValpoMobileConf" target="_blank"><strong><i class="fa fa-user"></i> Organización VMC</strong></a></p>
                        </article>
                      </div>
                    </div>
                  </div>
                  <!-- END Presentaciones HACK NIGHT-->


                  <!-- Presentaciones HACK NIGHT-->
                  <div class="panel panel-default">
                    <div class="speaker-wrapper">
                      <img src="{% static 'img/logo_vmc.png' %}" class="img-responsive img-circle" alt="Logo Organizador" />
                    </div>
                    <div class="panel-heading">
                      <div class="panel-title">
                        <div class="time"><i class="fa fa-clock-o"></i>
                          10/10 - 18:30
                        </div>
                        <a data-toggle="collapse" data-parent="#panelTimelineFour" href="#itemfive" class="collapsed">
                          Premiación
                          <div class="pull-right fa fa-angle-up"></div>
                          <div class="pull-right fa fa-angle-down"></div>
                        </a>
                      </div>
                    </div>

                    <div id="itemfive" class="panel-collapse collapse">
                      <div class="panel-body">
                        <article>
                          <p> Tenemos espectaculares premios para los equipos ganadores, y regalos para todos los participantes. ¡Quédense hasta el final!
                          </p>
                          <p class="author"><a href="http://twitter.com/ValpoMobileConf" target="_blank"><strong><i class="fa fa-user"></i> Organización VMC</strong></a></p>
                        </article>
                      </div>
                    </div>
                  </div>
                  <!-- END Presentaciones HACK NIGHT-->

                </div>
              </div>
              <!-- END HACK NIGHT - ONLY TRACK -->
            </div>

          </div>
          <!-- END HACK NIGHT -->

        </div>
      </section>
      {% if paper_list_first %}
      <div class="btn-wrapper">
        <a href="/media/Valparaiso_Mobile_Conf.pdf" class="btn btn-xs"><span class="icon icon-filetypes-11 icon-active"></span> <span class="btn-txt">Descargar programa</span></a>
      </div>
      {% endif %}

    </div>
  </section>
  <!-- FIN PROGRAMA-->
  {% endif %}

  {% if speakers %}
  <!-- Speakers Section -->
  <section id="speakers" class="section light">
    <div class="overlay"></div>
    <div class="container">
    <div class="icon-wrap"><span class="icon icon-active icon-multimedia-12"></span></div>
    <h3>Expositores</h3>
    <div class="sub-title">Expertos en TI compartirán su experiencia con nosotros.</div>
    <br />
    <br />
    <section class="row">
      <!-- template expositor -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="0">
          <div class="img-wrapper">
            <img src="{% static 'img/speaker/speaker-1.jpg' %}" class="img-responsive img-circle" alt="Foto {{speaker.get_full_name }}" />
          </div>
          <div class="name">John Doeson</div>
          <div class="sub">CEO Upbox</div>
           <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <div class="social-link">
            <a href="#"><span class="fa fa-facebook"></span></a>
            <a href="#"><span class="fa fa-twitter"></span></a>
            <a href="#"><span class="fa fa-google-plus"></span></a>
          </div>
        </div>
      </div>
      <!-- end template expositor -->

      <div class="col-md-3 col-sm-3 col-xs-6">
      <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="500">
        <div class="img-wrapper">
        <img src="{% static 'img/speaker/speaker-2.jpg' %}" class="img-responsive img-circle" alt="speaker-2" />
        </div>
        <div class="name">Eric Doeson</div>
        <div class="sub">CTO Tinterest</div>
        <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="social-link">
        <a href="#"><span class="fa fa-facebook"></span></a>
        <a href="#"><span class="fa fa-twitter"></span></a>
        <a href="#"><span class="fa fa-google-plus"></span></a>
        </div>
      </div>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-md-3 col-sm-3 col-xs-6">
      <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
        <div class="img-wrapper">
        <img src="{% static 'img/speaker/speaker-3.jpg' %}" class="img-responsive img-circle" alt="speaker-3" />
        </div>
        <div class="name">Emily Fork</div>
        <div class="sub">CEO Mahoo</div>
        <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="social-link">
        <a href="#"><span class="fa fa-facebook"></span></a>
        <a href="#"><span class="fa fa-twitter"></span></a>
        <a href="#"><span class="fa fa-google-plus"></span></a>
        </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
      <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1500">
        <div class="img-wrapper">
        <img src="{% static 'img/speaker/speaker-4.jpg' %}" class="img-responsive img-circle" alt="speaker-4" />
        </div>
        <div class="name">Martin Branson</div>
        <div class="sub">CFO Doogle</div>
        <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="social-link">
        <a href="#"><span class="fa fa-facebook"></span></a>
        <a href="#"><span class="fa fa-twitter"></span></a>
        <a href="#"><span class="fa fa-google-plus"></span></a>
        </div>
      </div>
      </div>
    </section>
    <div class="btn-wrapper">
      <a href="#" class="btn btn-sm btn-default">See all speakers</a>
    </div>
    </div>
  </section>
  <!-- End Speakers Section -->

  {% else %}
  <!-- Call for Papers Section -->
  <section id="cfp" class="section light">
    <div class="overlay"></div>
    <div class="container">
      <div class="icon-wrap"><span class="icon icon-active icon-multimedia-12"></span></div>
      <h3>Call for Papers</h3>
      <div class="sub-title">¿Quieres presentar una charla en el Valparaíso Mobile Conf? ¡Postula tu paper aquí!</div>
      <br />
      <div class="btn-wrapper">
        <a href="{% url 'new_paper' %} "class="btn btn-sm btn-default" >Enviar </a>
      </div>
    </div>
  </section>
  <!-- End Call for Papers Section -->

  {% endif %}


  <!-- HACKATHON Y PREMIOS -->
  <section id="hackathon" class="section dark">
    <div class="container">
      <section class="vc-example">
        <article class="article-big">
          <h5><span class="highlight">Una hackathon como debe ser</span></h5>
          <p class="big">Porque a nosotros también <strong>nos apasiona programar</strong>, creemos que una hackathon debe centrarse en los desarrolladores y diseñadores. Esperamos que resuelvan problemas, que demuestren sus habilidades con el teclado, la pantalla y su IDE favorita.</p>
          <div class="sub-title">
            <h6><span class="highlight ">¡Y tenemos excelentes premios! </span></h6>
          </div>
        </article>
      </section>

    <!-- PREMIOS HACKATHON -->
    <section class="vc-example">
      <div class="row">
      {% for premio in premios %}
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a href="{{premio.img}}" class="thumb-wrapper fancybox" data-fancybox-group="gallery">
            <div class="overlay">{{premio.name}}</div>
            <img src="{% static 'img/gallery/thumb-1.jpg' %}" class="img-responsive" alt="thumb-1" />
          </a>
        </div>
      {% endfor %}
      </div>
    </section>
    <!-- END PREMIOS HACKATHON -->		


    <div class="row">
      <div class="col-md-12 center">
        <div class="row">
          <div class="col-md-12 center">
            <a href="{% url 'register_hack_team' %}" class="btn btn-sm btn-primary">¡Quiero inscribirme!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- END HACKATHON Y PREMIOS -->

  <!-- Register Section -->
  <!-- INFORMACIÓN REPETIDA
  <section id="register" class="section light">
    <div class="overlay"></div>
    <div class="container">
    <article class="article-big animated hiding" data-animation="fadeInUp" data-delay="0">
      <h5>Register to a Ventcamp right now!</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		  <br/>
      <a href="#" class="btn btn-sm btn-tertiary">Register</a>
    </article>
    </div>
  </section>
  -->
  <!-- End Register Section -->

  <!-- Sponsors Section -->
  <section id="sponsors" class="section dark">
    <div class="container">
      <div class="icon-wrap">
        <span class="icon icon-active icon-documents-bookmarks-12"></span>
      </div>
      <h3>Auspiciadores</h3>
      {% if sponsor_list %}
        <div class="sub-title">Contamos con el apoyo de:</div>
        <br/>
        <div class="row">
          <ul class="list-inline">
            {% for sponsor in sponsor_list %}
              <li><a href="{{sponsor.url}}" target="_blank"><img class="sponsor-logo" src="media/{{sponsor.logo}}" alt="Logo {{sponsor.name}}" /></a></li>
            {% endfor %}
          </ul>
          <div class="btn-wrapper">
            <a href="{% url 'become_sponsor' %}" class="btn btn-sm btn-primary">Auspiciar este evento</a>
          </div>
        </div>
      {% else %}
        <div class="sub-title">
          <p>
            Aún no contamos con auspiciadores :(
          </p>
        </div>
        <div class="row">
          <div class="btn-wrapper">
            <a href="{% url 'become_sponsor' %}" class="btn btn-sm btn-primary">Auspiciar este evento</a>
          </div>
        </div>
      {% endif %}
    </div>
  </section>
  <!-- End Sponsor Section -->


  <!-- Map Section -->
  <section id="map" class="dark">
    <div id="canvas-map"></div>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-sm-offset-1 animated hiding location" data-animation="fadeInLeft" data-delay="0">
	 <h3>Ubicación</h3>
          <ul itemscope="" itemtype="http://schema.org/PostalAddress">
            <li itemprop="address"><i class="fa fa-map-marker highlight"></i>Universidad Técnica Federico Santa María</li>
            <li itemprop="address"><i class="fa fa-map-marker highlight"></i>Avenida España 1680, Valparaíso</li>
            <li itemprop="email"><i class="fa fa-envelope highlight"></i>valpo.mobile.conf@gmail.com</li>
<!--
            <li itemprop="telephone"><i class="fa fa-phone highlight"></i></li>
-->
            <li itemscope="" itemtype="http://schema.org/Event"><i class="fa fa-clock-o highlight"></i><time itemprop="startDate" datetime="2015-10-09T09:00">09:00</time> - <time itemprop="endDate" datetime="2015-10-10T20:00">20:00</time></li>
          </ul>
        </div>
    </div>
  </section>
  <!-- End Map Section -->

  <footer id="footer">

  </footer>

  <div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>

  <script type="text/javascript" src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.nav.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/waypoints-sticky.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.fancybox.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
