{% extends "register_base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block maincontainer %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>¡Regístrate al <span class="highlight">Valparaíso Mobile Conf</span> ahora!</h2>
      <div class="sub-title">y obtén tus tickets dentro de 24 horas.</div>
      <br/>
      <br/>
    </div>
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <form class="form form-register" method="post" action="">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_name" class="col-sm-3 col-xs-12 control-label">Nombre</label>
          <div class="col-sm-4 col-xs-12">
            <input type="text" class="form-control required" name="name" id="id_name" placeholder="Nombre" value="{{form.name.value}}">
            {{form.name.errors}}
          </div>
          <div class="col-sm-5 col-xs-12">
            <input type="text" class="form-control required" name="lastname" id="id_lastname" placeholder="Apellido(s)" value="{{form.lastname.value}}">
            {{form.lastname.errors}}
          </div>
        </div>

        <div class="form-group">
          <label for="id_rut" class="col-sm-3 col-xs-12 control-label">RUT (o Pasaporte)</label>
          <div class="col-sm-9 col-xs-12">
            <input type="text" class="form-control required" name="rut" id="id_rut" placeholder="RUT/Passport" value="{{form.rut.value}}">
            {{form.rut.errors}}
          </div>
        </div>

        <div class="form-group">
          <label for="id_email" class="col-sm-3 col-xs-12 control-label">Email</label>
          <div class="col-sm-9 col-xs-12">
            <input type="email" class="form-control required email" name="email" id="id_email" placeholder="Email" value="{{form.phone.value}}">
            {{form.email.errors}}
          </div>
        </div>

        <div class="form-group">
          <label for="id_phone" class="col-sm-3 col-xs-12 control-label">Teléfono</label>
          <div class="col-sm-9 col-xs-12">
            <input type="text" class="form-control required" name="phone" id="id_phone" placeholder="Ej: 87654321"  value="{{form.phone.value}}">
            {{form.phone.errors}}
          </div>
        </div>

        <div class="form-group">
          <label for="id_twitter" class="col-sm-3 col-xs-12 control-label">Twitter (opcional)</label>
          <div class="col-sm-9 col-xs-12">
            <input type="text" class="form-control" name="twitter" id="id_twitter" placeholder="Twitter (opcional)" value="{{form.twitter.value}}">
            {{form.twitter.errors}}
          </div>
        </div>

        <div class="form-group">
          <label for="id_institution" class="col-sm-3 col-xs-12 control-label multiline">¿Representas a alguna institución o empresa? Nos gustaría saber cuál</label>
          <div class="col-sm-9 col-xs-12">
            <input type="text" class="form-control" name="institution" id="id_institution" placeholder="Nombre de institución o empresa (opcional)" value="{{form.institution.value}}">
            {{form.institution.errors}}
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-sm btn-block">Enviar</button>
      </form>
    </div>
  </div>
</div>
{% endblock maincontainer %}