{% load static from staticfiles %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>{{title}} - VMC</title>
  <meta name="description" content="Conferencia sobre tecnologías móviles">
  <meta name="keywords" content="Android, iOS, Windows Phone, Valparaíso, Conferencia, Hackathon, Charlas, Talleres, Cursos, Móvil">
  <meta name="author" content="Valparaíso Mobile Conf">
  <link rel="shortcut icon" href="{% static '2015/img/favicon.png' %}">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:700&family=Roboto:100,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static '2015/css/bootstrap.min.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static '2015/css/animate.min.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static '2015/css/font-awesome.min.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static '2015/css/font-lineicons.min.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static '2015/css/jquery.fancybox.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static '2015/css/style.min.css' %}" id="mainstyle" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static '2015/css/toastr.min.css' %}" type="text/css" media="all" />
</head>

<body id="index" class="register-page">

    <header id="mobileheader" class="navigation-bar-header light visible-xs"></header>
    <!-- Header -->
  <header id="header" class="navigation-bar-header light hidden-xs">
    <div class="container">
      <nav class="navigation">
        <div class="navigation-txt visible-xs" data-toggle="dropdown">Home</div>
        <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="navigation-bar navigation-bar-left">
          <li><a href="/">Volver al inicio</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Header -->

    <!-- Hero Section -->
    <section id="hero" class="light" style="background-image: url({% static bg %});">
    <div class="overlay color"></div>
      <div class="container">
        <div class="home-bg">
          <div class="hero-content text-center ">
            {% block maincontainer %}
            {% endblock maincontainer %}
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero Section -->

    <script type="text/javascript" src="{% static '2015/js/jquery-2.1.0.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript" src="{% static '2015/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '2015/js/jquery.nav.js' %}"></script>
    <script type="text/javascript" src="{% static '2015/js/jquery.appear.js' %}"></script>
    <script type="text/javascript" src="{% static '2015/js/jquery.countTo.js' %}"></script>
    <script type="text/javascript" src="{% static '2015/js/waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static '2015/js/waypoints-sticky.min.js' %}"></script>
    <script type="text/javascript" src="{% static '2015/js/jquery.fancybox.js' %}"></script>
    <script type="text/javascript" src="{% static '2015/js/jquery.validate.js' %}"></script>
    <script type="text/javascript" src="{% static '2015/js/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static '2015/js/form-validation.min.js' %}"></script>
    <script type="text/javascript" src="{% static '2015/js/scripts.min.js' %}"></script>
</body>
</html>