{% load static from staticfiles %}
{% load i18n %}

<!-- Speakers Section -->
  <section id="speakers" class="section light">
    <div class="overlay"></div>
    <div class="container">
    <div class="icon-wrap">
      <i class="fa fa-graduation-cap"></i>
    </div>
    <h3>Expositores</h3>
    <div class="sub-title">Expertos compartirán su experiencia con nosotros.</div>
    <br />
    <br />
    {% for sublist in speakers %}
    <section class="row">
      {% for speaker in sublist %}
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="0">
          <div class="img-wrapper">
            <img src="{{speaker.profile_picture.url}}" class="img-responsive img-circle" alt="Foto {{speaker}}" />
          </div>
          <div class="name">{{speaker}}</div>
          <div class="sub">{{speaker.occupation}}</div>
           <p class="small"></p>
          <div class="social-link">
            {% if speaker.twitter %}
            <a href="https://twitter.com/{{speaker.twitter}}"><span class="fa fa-twitter"></span></a>
            {% endif%}

            {% if speaker.linkedin%}
            <a href="{{speaker.linkedin}}"><span class="fa fa-linkedin"></span></a>
            {% endif %}
          </div>
        </div>
      </div>
      {% if forloop.counter == 2 %}
      <div class="clearfix visible-xs"></div>
      {% endif %}
      {% endfor %}
    </section>
    {% empty %}
    <section class="row">
    <h3>¡Pronto!</h3>
    </section>
    {% endfor %}

    </div>
  </section>
  <!-- End Speakers Section -->